.layout-editor-inner {
    margin: 20px;
    width: 445px;
    display: inline-flex;
}

.layout-editor-outer {
    display: inline-flex;
}

.layout-editor-inner .btn-group button {
    width: 40px;
    height: 40px;
}

.layout-editor-component-list {
    margin-left: 10px;
}

.layout-editor-component {
    cursor: pointer;
}

.component-settings {
    margin-left: 20px;
    width: 500px;
}

.component-settings > tbody > tr {
    height: 30px;
}

.component-settings > tbody > tr > td:nth-child(1) {
    width: 250px;
}

.component-settings > tbody > tr > td:nth-child(2) > input,
.component-settings > tbody > tr > td:nth-child(2) > span,
.component-settings > tbody > tr > td:nth-child(2) > select {
    width: 100%;
}

.layout-editor-tabs {
    margin-left: 20px;
}