%info-text-component {
    height: 24px;
    line-height: 20px;
    padding: 0px 6px;
}

%info-text-component-text {
    width: 100%;
}

%info-text-component-value {
    text-align: right;
    white-space: nowrap;
}